.jumbotron {
    height: 600px;
    width: 700px;
    max-height: 600px;
    max-width: 700px;
    text-align: center;
    align-items: center;
    margin: auto;
    
}

html, a, p, h1, h2, div {
    font-family: 'Marcellus SC', serif;
}
html {
    min-width: 500px;
    background-color: black;
}

.welcome {
   text-decoration: none;
   min-width: 600px;
}

.banner {
    height: 100px;
    width: auto;
    min-width: 600px;
}

.grid {
       display: flex;
   flex-wrap: wrap;
   text-align: center; 
   align-content: center;
   margin: auto;
}

.product {
    height: 100%;
    width: 100%;
    min-height: 280px;
    min-width: 280px;
    margin: auto;
}

.productpic {
    object-fit: cover;
    height: auto;
    border: 1px solid white;
}



